<br>
<div class="media post">
  <nav class='media-left'>
    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    {{vm.post.rating}}
    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
  </nav>
  <a class="media-left" href="#">
    <img class="media-object" ng-src="http://fillmurray.com/70/70"
         alt="Generic placeholder image">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{vm.post.title}}</h4>
    <h10>{{vm.post.date}} by {{vm.post.author}}</h10>
  </div>
</div>
<footer>
  <h5>Comments |
    <a ng-click='vm.comment=!vm.comment'>Add Comment
      <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" ng-hide='vm.comment'></span>
      <span class="glyphicon glyphicon-triangle-top" aria-hidden="true" ng-show='vm.comment'></span>
    </a>
  </h5>

  <add-comment show='vm.comment' ng-show='vm.comment'></add-comment>

  <div>
    <div class="media col-lg-11 col-lg-offset-1" ng-repeat='comment in vm.post.comments track by $index'>
      <div class="media-body" >
        <h10>{{comment.date}} by {{comment.name}}:</h10>
        <p><strong>{{comment.comment}}</strong></p>
      </div>
    </div>
  </div>
</footer>

<style>
.post{
  margin-left: 30px;
}
  h5{
    margin-left: 20px;
    border-top: dotted black 1px;
  }

</style>
