<main class='sign col-lg-12'>
  <p ng-hide='sl.user'>Want to join? <a ng-click="sl.modal()">Log in</a>
    or <a ng-click="sl.modal()">sign up</a> in seconds | <strong>English</strong>
  </p>
  <p ng-show='sl.user' class='col-lg-12 loggedin'><strong>Welcome: {{sl.user.name}}</strong> |
    <strong ng-click='sl.logout()'><a>LOGOUT</strong></a>
  </p>
</main>


<script type="text/ng-template" id="myModalContent.html">

        <div class="modal-content col-lg-12">
          <button type="button" class="close" ng-click='cancel()' aria-label="Close">
            <br>
            <span aria-hidden="true">x</span>
          </button>

          <form class='col-lg-6 left' name='frm' ng-model='sng.form' ng-submit='modal.signup()' novalidate>
            <label for="name">CREATE NEW ACCOUNT</label>
            <div class="form-group">
              <input type="text" class="form-control" name='name' ng-model='sng.name' placeholder="Enter User Name" required>
              <small ng-show='frm.name.$invalid && frm.name.$dirty'>This area is required</small>
            </div>
            <div class="form-group">
              <input type="password" class="form-control"  name='password'  ng-model='sng.password' placeholder="Enter password" required>
              <small ng-show='frm.password.$invalid && frm.password.$dirty'>This area is required</small>
            </div>
            <div class="form-group">
              <input type="password" class="form-control"  name='passwordCheck' ng-model='sng.pCheck' placeholder="verify pasword" required>
              <small ng-show='frm.passwordCheck.$invalid && frm.password.$dirty'>This area is required</small>
              <small ng-show='!(sng.password === sng.pCheck)'>Passwords must match</small>
            </div>
            <button type="submit" class="btn btn-primary" ng-disabled='frm.$invalid || !(sng.password === sng.pCheck)'>SIGN UP</button>
            <small ng-show='modal.msgS'>{{modal.msgS | uppercase}}</small>
          </form>

          <form class='col-lg-6 right' ng-model='lgn.form' name='form' ng-submit='modal.login()' novalidate>
            <label for="name">LOG IN</label>
            <div class="form-group" name='login' >
              <input type="text" class="form-control" name='name' ng-model='lgn.name' placeholder="Enter User Name" required>
              <small ng-show='form.name.$invalid && form.name.$dirty'>This area is required</small>
            </div>
            <div class="form-group">
              <input type="password" class="form-control"  name='password' ng-model='lgn.password' placeholder="Enter password" required>
              <small ng-show='form.password.$invalid && form.password.$dirty'>This area is required</small>
            </div>
            <small>{{modal.msgL  | uppercase}} </small>
            <button type="submit" class="btn btn-primary" ng-disabled='form.$invalid'>LOG IN</button>
          </form>
        </div>
    </script>


<style>
  .loggedin {
    display:flex;
    justify-content: space-between;
  }
  .sign {
    height: 20px;
    background-color: rgb(240,	247,	254);
    right: -50px;
    bottom: -12px;
  }
  .sign p {
    margin-top: 3px;
    font-size: 10px;
  }

  .modal-content form {
    padding: 50px;
  }
  .left{
    border-right: 1px solid rgb(204,	204,	204);
  }
  .modal-content form button {
    float: right;
  }
  small {
    color: red;
  }
</style>
