<main class='sign col-lg-12'>
  <p>Want to join? <a data-toggle="modal" data-target="#myModal7">Log in</a>
    or <a data-toggle="modal" data-target="#myModal7">sign up</a> in seconds | <strong>English</strong>
  </p>
</main>

<div class="modal fade" id="myModal7" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel3" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content col-lg-12">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">x</span>
      </button>

      <form class='col-lg-6 left' name='form' ng-model='sng.form' ng-submit='sl.signup()' >
        <label for="name">CREATE NEW ACCOUNT</label>
        <div class="form-group">
          <input type="text" class="form-control" name='name' ng-model='sng.name' placeholder="Enter User Name">
        </div>
        <div class="form-group">
          <input type="password" class="form-control"  name='password'  ng-model='sng.password' placeholder="Enter password">
        </div>
        <div class="form-group">
          <input type="password" class="form-control"  name='passwordCheck' placeholder="verify passord">
        </div>
        <button type="submit" class="btn btn-primary">SIGN UP</button>
      </form>

      <form class='col-lg-6 right' ng-model='lgn.form' ng-submit='sl.login()'>
        <label for="name">LOG IN</label>
        <div class="form-group" name='login' >
          <input type="text" class="form-control" name='name' ng-model='lgn.name' placeholder="Enter User Name">
        </div>
        <div class="form-group">
          <input type="password" class="form-control"  name='password' ng-model='lgn.password' placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-primary">LOG IN</button>
      </form>
    </div>
  </div>
</div>

<style>
  .sign {
    height: 20px;
    background-color: rgb(240,	247,	254);
    right: -50px;
    bottom: -12px;
  }
  .sign p {
    margin-top: 3px;
    font-size: 10px;
  }
  .modal-content  {
    padding: 10px;
  }
  .modal-content form {
    padding: 50px;
  }
  .left{
    border-right: 1px solid rgb(204,	204,	204);
  }
  .modal-content form button {
    float: right;
  }
</style>
